<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Python Add-in Demonstration</Name><AddInID>{8d158b54-e24c-4503-a27b-0863b160a56e}</AddInID><Description>Consains buttons and tools for add-in demonstration.</Description><Version>1.0</Version><Image>Images\WorkflowFolder32.png</Image><Author>kikita</Author><Company>esri</Company><Date>09/15/2015</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="PythonProject_addin.py" namespace="PythonProject_addin"><ArcMap>
    <Commands>
        <Button caption="Zoom to Selected Features" category="Python Add-in Demonstration" class="ZoomtoSelectedFeatures" id="PythonProject_addin.button" image="Images\Smiley - Grin.png" message="Zoom to Selected Features" tip="Zoom to Selected Features"><Help heading="Zoom to Selected Features">Zoom to Selected Features</Help></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="kikita's Toolbar" category="Python Add-in Demonstration" id="PythonProject_addin.toolbar" showInitially="true"><Items><Button refID="PythonProject_addin.button" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>